{% extends 'guest/templates/base.html' %}
{% load static %}
{% block title %}
Welcome to PLS
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block body %}
<main class="section-hero container-fluid">
    <div class="row">
        <div class="col-sm-4 col-left" data-aos="fade-right">
            <div class="home_text_con ">
                <div class="home__text">
                    Welcome to
                    <p class="home__title">
                        <span class="P">P</span>eer
                        <span class="L">L</span>earning
                        <span class="S">S</span>ystem
                    </p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus exercitationem libero rem
                    impedit,
                    quo repellendus unde hic similique corporis vitae excepturi voluptatem incidunt aspernatur quam!</p>
            </div>
            <div class="login">
                <a href="{% url  'login_page' %}" class="btn btn-outline-info login-btn">Login</a>
            </div>
        </div>
        <div class="col-sm-6 col-right" data-aos="zoom-in">
            <img class="img-home" src="{% static 'img/hero_image.jpg' %}" />
        </div>
    </div>
</main>
{% endblock body %}