{% extends 'guest/templates/base.html' %}
{% load static %}
{% block title %}
Welcome to PLS
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block body %}
<main class="section-hero container-fluid">
    <div class="row">
        <div class="col-sm-4 col-left" data-aos="fade-right">
            <div class="home_text_con ">
                <div class="home__text">
                    Welcome to
                    <p class="home__title">
                        <span class="P">P</span>eer
                        <span class="L">L</span>earning
                        <span class="S">S</span>ystem
                    </p>
                </div>
                <p>In the modern education scenario, where students are learning remotely and due to lack of one on one interaction and online learning, individual feedback is next to impossible. Peer learning, which is a solution to all of the above problems, will be the next milestone to be achieved. So, our focus is to build the system on peer learning and feedback based online learning. We have google classroom to share documents and give feedback, but peers can't discuss it in the thread-like commenting form. We are merging few of the relevant functionalities of LMS of AU, Gyapak, Google classroom, StackOverflow in our peer learning platform. It will be all in one platform where students can see their course grades, course feedback, assignment feedback, course wise projects, and much more.</p>
            </div>
            <div class="login">
                <a href="{% url  'login_page' %}" class="btn btn-outline-info login-btn">Login</a>
            </div>
        </div>
        <div class="col-sm-6 col-right" data-aos="zoom-in">
            <img class="img-home" src="{% static 'img/hero_image.jpg' %}" />
        </div>
    </div>
</main>
{% endblock body %}