{% extends 'faculty/templates/start_base.html' %}
{% load static %}
{% block title %}
Faculty | Dashboard
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/QnA.css' %}">
<link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock extra_css %}

{% block nav_link %}
{% if course.Id %}
<li class="nav-item">
    <a class="nav-link qnacourse" href="{% url 'QNACourse' course.Id %}">Q&A Course</a>
</li>
<li class="nav-item">
    <a class="nav-link task" href="{% url 'tasks' course.Id %}">Tasks</a>
</li>
<li class="nav-item">
    <a class="nav-link resource" href="{% url 'resources' course.Id %}">Resources</a>
</li>
{% endif %}
{% endblock nav_link %}

{% block extrajs %}
    {% if course.Id %}
    $(".active").removeClass("active");
    $(".qnacourse").addClass("active"); 
    {% else %}
    $(".active").removeClass("active");
    $(".qnauni").addClass("active");
    {% endif %}
{% endblock extrajs %}
{% block body %}
<div class="QnA_con">
    <div class="QnA_name">
        Welcome to Q&A.
    </div>
    <div class="question_con">
        <div class="question_txt">
            Question
        </div>
        <hr />
        <div class="question">
            {{ question.Content }}
        </div>
        
        {% if request.session.Id == question.User_Id %}
        <div class="delete_question" >
            {% if type == "university" %}
            <a class="btn btn-outline-danger btn-lg" id="delete_question_btn"
                href="{% url 'DeleteQuestion_uni' question.Question_Id %}">
                Delete Question
            </a>
            {% else %}
            <a class="btn btn-outline-danger btn-lg" id="delete_question_btn"
                href="{% url 'DeleteQuestion_course' course.Id question.Question_Id %}">
                Delete Question
            </a>
            {% endif %}
        </div>
        {% endif %}
        <div class="question_txt">
            Answers
        </div>
        <hr />
        
        <div class="question_list">
            {% for answer in answers %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ answer.Content }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ answer.User_Id }}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="answer_con ">
        {% if type == "university" %}
        <form action="{% url 'addanswer_uni' question.Question_Id %}" method="POST">
            {% else %}
            <form action="{% url 'addanswer_course' course.Id question.Question_Id %}" method="POST">
                {% endif %}

                {% csrf_token %}
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="text" name="ans" id="ans" placeholder="Answer the question" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-secondary ">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
    </div>

</div>

{% endblock body %}