.course_name {
    text-align: center;
    font-size: 25px;
    background: #669999;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
}

.whole_form {
    background-color: #f7f7f7;
    margin-top: 30px;
    margin-left:20px;
    margin-right: 20px;
    padding-top: 20px;
    padding: 20px;
    font-size: 20px;
}

.deadline_css {
    padding-right: 20px;
}

.peer_mode {
    padding: 20px;
}